.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    font-family: Work Sans, sans-serif;
    flex-grow: 1;
    color: dodgerblue;
    
  }