// .div {
//     background-color: var(--White, #fff);
//     display: flex;
//     flex-direction: column;
//     padding: 21px 80px 59px;
//   }
//   @media (max-width: 991px) {
//     .div {
//       padding: 0 20px;
//     }
//   }
  .img-avatar {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 54px;
    align-self: start;
    margin-top: 13px;
  }
  .img-avatar:hover{
    filter: brightness(110%);
  }