
.container-1 {
    padding-top: 20px;
    display: block;
    align-items: center;
    background-color: #e5e5e5;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.title {
    color: #0048ff;
    margin-top: 109px;
    font: 64px Lexend Deca, sans-serif;
}
.subtitle {
    color: #0048ff;
    margin-top: 20px;
    font: 16px Lexend Deca, sans-serif;
}
.input-field,
.button {
    border-radius: 10px;
    border: 1px solid rgba(0, 72, 255, 1);
    margin-top: 20px;
    width: 300px;
    max-width: 100%;
    padding: 15px;
    color: #0048ff;
}
.button {
    background-color: rgba(214, 0, 141, 0.64);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
}
.secondary {
    background-color: transparent;
    box-shadow: none;
}
.link, .info {
    color: #002b9a;
    margin-top: 15px;
}
.img-container {
    width: 100%;
    align-self: stretch;
    margin-top: 110px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
@media (max-width: 991px) {
    .title, .subtitle {
    margin-top: 40px;
    font-size: 40px;
    }
    .input-field, .button {
    padding: 0 20px;
    }
    .img-container {
    margin-top: 40px;
    }
}
